@charset "utf-8";

body { 
	margin: 0; padding: 0; border: 0; font-size: 100%;
}


.homebody {
	background-image: url("../images/background ideas-04.jpg");
	
  
  height: 1200px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

		
}


.aboutbody {
	background-image: url("../images/background ideas-06.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

.abouttext {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: center;
	
	
	
}

.productbody {
	background-image: url("../images/background ideas-02.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
	
.sitebody
{
	background-image: url("../images/background-vol2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}


.findusbody {
	background-image: url("../images/background ideas-02.jpg");
}

.contactbody {
 background-image: url("../images/background ideas-05.jpg");	
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
padding-left: 6px;
}

.display-1 {
	text-align: center;
	margin-top: 39px;
	margin-bottom: 7px;
}

.display-4 {
	text-align: center;
	font-size: 36pt;
	margin-bottom: 68px;
	margin-top: 24px;
	font-weight: lighter;
}
.mylogo {
	align-content: center;
	display: table-cell;
	margin-top: 58px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 85px;
}

.fronttext {
	text-align: center;
	font-weight: normal;
	padding-top: 41px;
	padding-right: 41px;
	padding-bottom: 41px;
	padding-left: 41px;
	margin-top: 69px;
	margin-right: 69px;
	margin-bottom: 69px;
	margin-left: 69px;
}



.contacttitle {
	text-align: center;
	
}

.fronttext {
	font-size: 20pt;	
	
}


.logo {
	min-height: 150px;
	min-width: 150px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding-top: 95px; 
	padding-right: 40px; 
	padding-bottom: 40px; 
	padding-left: 40px; 
	right: 50px;
	left: 50px;
}

.meet {
	text-align: center;	
	
	
}


.card {
	margin-right: 70px;
	margin-top: 63px;
	margin-bottom: 8px;
	margin-left: 78px;
	padding-top: 22px;
	padding-right: 22px;
	padding-bottom: 22px;
	padding-left: 22px;
	text-align: center;
	
}
	
.form-control-file {
float: left;
padding-left: 6px;
}
	
.btn-group-toggle {
	float: left;
	padding-left: 6px;
}

.producttext {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 22px;
	text-align: left;

}

.productheader {
	text-align: center;
}

.question {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 22px; 
}

.answer {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: normal;
	font-size: 22px; 
}

footer {
	background: #111;
	height:auto;
	width: 100vw;
	padding-top: 40px;
	color: #fff;
	
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li {
	margin: 0 10px;
}

.socials a{
	text-decoration: none;
	color: #FFFFFF;
}

.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}


.footer-bottom {
	background: #000000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}

.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}
