@charset "utf-8";
body { margin: 0; padding: 0; border: 0; font-size: 100%; }


.homebody {
	background-image: url(../images/background-home.jpg);	
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
		
}
	
.sitebody
{
	background-image: url("../images/background-vol2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
		

}

.contactbody {
	

 background-image: url("../images/background ideas-05.jpg");	
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.jumbotron-fluid {
	text-align: center;
	border-radius: 27px;
	min-width: 0px;
	width: 600px;
	background-color: #FFFFFD;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.logo {
	min-height: 150px;
	min-width: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	margin-top: 15px;	
}

.meet {
	text-align: center;	
	
	
}


.card {
	margin-right: 70px;
	margin-top: 63px;
	margin-bottom: 8px;
	margin-left: 78px;
	padding-top: 22px;
	padding-right: 22px;
	padding-bottom: 22px;
	padding-left: 22px;
	text-align: center;
	
}
	
	
	
	




@media screen{
}
