@charset "utf-8";

body { 
	margin: 0; padding: 0; border: 0; font-size: 100%;
}

/*index page*/

#videorooftop {
	position: absolute;
	z-index: -100;
	height: auto;
	width: 100%;
	
}

@media (min-aspect-ratio: 16/9) {
	
	#videorooftop {
		width: 100%;
		height: auto;
	
	}
}

@media (max-aspect-ratio: 16/9) {
	
	#videorooftop {
		width: auto;
		height: 100%;
	
	}
}

@media (max-width: 767px) {
	
	
	#videorooftop {
		display: none;
	
	}
	
	.homebody {
		background: url("../images/poster3.png")
		
	
	}
}

.display-1 {
	text-align: center;
	margin-top: 39px;
	margin-bottom: 7px;
}

.display-4 {
	text-align: center;
	font-size: 36pt;
	margin-bottom: 68px;
	margin-top: 24px;
	font-weight: lighter;
}
.mylogo {
	align-content: center;
	display: table-cell;
	margin-top: 58px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 85px;
}

.appcard {
	text-align: center;
	padding-top: 100px;
	
	
}

.card-body {
	background-color: white;
	
}

	
	



/*about page*/
		

.aboutbody {
	background-image: url("../images/background ideas-06.jpg");
	background-size: cover;
}

.abouttext {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 22px;
	text-align: left;
}

.rooftop1trim {
	
	height: 1050px;
	width: auto;
	padding-left: 30px;
	padding-right: 80px;
	padding-top: 80px;
	text-align: center; 
}

.contacttitle {
	text-align: center;
}

/*product page */
.rooftopdancing

{
	height: 1050px;
	width: auto;
	padding-left: 30px;
	padding-right: 80px;
	padding-top: 80px;
	text-align: center; 
}

.productbody {
	background-image: url("../images/background ideas-02.jpg");
  background-size: cover;
}

.producttext {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 22px;
	text-align: left;

}

.productheader {
	text-align: center;
}

/*faq*/

.findusbody {
	background-image: url( "../images/background ideas-03.jpg");
	background-size: cover;
}
.question {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 22px; 
}

.answer {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: normal;
	font-size: 22px; 
}


/*contact*/

.contactbody {
 background-image: url("../images/background ideas-05.jpg");	
  background-size: 100%;
  float: left;
padding-left: 6px;
}


/* team */

.teambody {
	
	background-image: url("../images/background ideas-01.jpg");
	background-size: cover;
}
.meet {
	text-align: center;		
}


.card {
	margin-right: 70px;
	margin-top: 63px;
	margin-bottom: 8px;
	margin-left: 78px;
	padding-top: 22px;
	padding-right: 22px;
	padding-bottom: 22px;
	padding-left: 22px;
	text-align: center;
	
}
	
/* contact*/

.form-control-file {
float: left;
padding-left: 6px;
}
	
.btn-group-toggle {
	float: left;
	padding-left: 6px;
}



/*justification page*/

.justificationbody {
	
	background-image: url("../images/background ideas-04.jpg");
	background-size: cover;
}




/*footer*/

footer {
	background: #111;
	height:auto;
	width: 100vw;
	padding-top: 40px;
	color: #fff;
	
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li {
	margin: 0 10px;
}

.socials a{
	text-decoration: none;
	color: #FFFFFF;
}

.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}


.footer-bottom {
	background: #000000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}

.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}
